!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
  %body
    %h1 My Facebook
    %table{:border => "2,border-collapse:", :collapse => ""}
      %tr
        %th Name
        %th Gender
        %th Date of Birth
        %th Email
      %tr
        - @users.each do |user|
          %tr
            %td
              = link_to user.name, user_path(user), method: :get
            %td
              = user.gender
            %td
              = user.date_of_birth
            %td
              = user.email
            %td
              = link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?'}
            %td
              = format_time(Time.now)
    = link_to 'Sign Up', new_user_path
