<h1>Update Address</h1>
<%= form_for(@address, url: {action: "update"}, method: :patch) do |f| %>
<%= f.label :hometown %>
<br>
<%= f.text_field :hometown %>
<br>
<%= f.label :state %>
<br>
<%= f.text_field :state %>
<br>
<%= f.label :country %>
<br>
<%= f.text_field :country %>
<br>
<%= f.label :pincode %>
<br>
<%= f.text_field :pincode %>
<br>
<%= f.submit "Edit" %>
<% end %>