<h1>Your Address </h1>
<table border = 2>
<tr>
<% if @address.nil? %>
"You have not added your address"
<br>
<%= link_to 'Edit', new_user_address_path(@user) %>
<% else %>
<th>Hometown</th>
<th>City</th>
<th>Country</th>
<th>Pincode</th>
</tr>
<tr>
<td><%= @address.hometown %> </td>
<td><%= @address.state %> </td>
<td><%= @address.country %> </td>
<td><%= @address.pincode %> </td>
</tr>
</table>
<% end %>